Port 2222
SyslogFacility AUTH
LogLevel DEBUG
PasswordAuthentication yes
PubkeyAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp -l VERBOSE
PermitRootLogin no
Match Group sftp_users
  X11Forwarding no
  AllowTcpForwarding no
  ChrootDirectory /home/%u
  ForceCommand internal-sftp -l VERBOSE -P rm
  #ForceCommand internal-sftp -l VERBOSE 
  PasswordAuthentication yes
  PubkeyAuthentication yes
Match User admin 
  AllowUsers admin@172.17.0.1 admin@66.150.153.0/24 admin@34.217.246.0/24 admin@107.185.202.0/24
  X11Forwarding no
  AllowTcpForwarding no
  PasswordAuthentication yes
  PubkeyAuthentication yes
