Port 2222
SyslogFacility AUTH
LogLevel INFO
PasswordAuthentication yes
PubkeyAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp -l VERBOSE
Match Group sftp_users
X11Forwarding no
AllowTcpForwarding no
ChrootDirectory /home/%u
ForceCommand internal-sftp -l VERBOSE

AllowUsers admin@10.10.0.0/16 admin@172.17.0.1
